%h1 Friends:

%ul
  - @friends.each do |user|
    %li
      = image_tag user.dig('picture', 'data', 'url')
      = link_to 'Send Message', '#', class: 'btn btn-primary', data: {fuid: user['id']}
      %h3
        = user['name']
      %span.small
        = user.dig('hometown', 'name')
