=image_tag("2.jpg", size: "600x400")
%p
  Lorem ipsum dolor sit amet...
%p
  %span.fb-like{"data-action" => "like", "data-href" => "https://developers.facebook.com/docs/plugins/", "data-layout" => "button_count", "data-share" => "true", "data-show-faces" => "true", "data-size" => "large"}
.fb-comments{"data-href" => "https://developers.facebook.com/docs/plugins/comments#configurator", "data-numposts" => "5"}

