=image_tag("2.jpg", size: "600x400")
%p
  Lorem ipsum dolor sit amet...
%br
.fb-like{data: {action: 'like', href: witchers_index_url, layout: 'standard',
                share: 'true', 'show-faces': true, size: 'large'}}
%br
.fb-comments{data: {href: witchers_index_url, numposts: "5"}}