=image_tag("2.jpg", size: "600x400")
%p
  Lorem ipsum dolor sit amet...
%br
.fb-like{"data-action" => "like", "data-href" => "http://localhost:3000/index/", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-size" => "large"}
%br
.fb-comments{"data-href" => "http://localhost:3000/index", "data-numposts" => "5"}

